<h3>
    <i class="small material-icons">event</i>
    Ticket-it
</h3>
<div class="lead">
    Organize your events dengan gembuk.
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
</div>

<div class="row">
    <a class="waves-effect waves-light btn right">Login</a>
</div>
